/*
Colors used:
Primary Color (White): rgb(255,255,255);
Secondary Color (Black): rgb(0,0,0);
Tertiary Color (Light Grey):rgb(244,244,244);
Shadow Color (Grey): rgb(218,218,218)
*/

body {
  background-color: #ffffff;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: rgb(0,0,0);
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.75em;
  font-weight: 400;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.25em;
  font-weight: 400;
}

h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.75em;
  font-weight: 300;
}
h4 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.35em;
  font-weight: 300;
}


main {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.75em;
  font-weight: 400;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.25em;
  font-weight: 400;
}

h3 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.35em;
  font-weight: 300;
}
